body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: none;
    background-color: #555;
    padding: 10px;
}

section {
    margin: 20px;
}

.review-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.review {
    display: none;
    text-align: center;
}

#counter {
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.image{
    width: 15px;
    height: 3px;
    margin: 1px;
}
#airCanadaButton {
    padding: 10px;
    font-size: 16px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #airCanadaButton:hover {
    background-color: #cc0000;
  }
  




